*,
*: after,
*: before {
  box-sizing: border-box;;
}
body {
  background-color: #D0CFC5;
  color: #32332A;
  font-family: 'Muli', sans-serif;
}

.txt-blue {
  color: #306BA2;
}

.txt-white {
  color: #FFFFFF;
}

.txt-gray {
  color: #757C82;
}

nav {
  background-color: #32332A;
  display: flex;
  flex-direction: column;
}

.top-of-nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.fa-user-circle, .user-name {
  padding-right: 10px;
}

.bottom-of-nav {
  display: flex;
  margin-right: 25px;
  margin-bottom: 20px;
}

.fa-bars {
  display: none;
}

.nav-items {
  list-style-type: none;
  display: flex;
  margin-bottom: 0;
  margin-right: auto;
  margin-top: 8px;
}

.fa-share-alt {
  padding-right: 10px;
}

.fa-list-ul, .fa-user {
  padding-right: 10px;
  padding-left: 30px;
}

.logo {
  height: 50%;
}

.shares-title {
  margin: 2% 0 0 3%;
}

main {
  margin: 1%;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  justify-content: space-around;
  width: 100%;
  margin: auto;
}

.inner-main-containers {
  background-color: #FFFFFF;
  margin-top: 2%;
  width: 300px;
}

.image-container {
  position: relative;
}

.image-transparency {
  opacity: 0.7;
}

.fa-share-square {
  font-size: 250%;
  left: 0;
  margin-left: 5%;
  margin-top: 5%;
  position: absolute;
  text-align: center;
  top: 0;
}

.view-align {
  margin-right: 5%;
  margin-top: 5%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

h4, h1, p, .date {
  margin: 0;
}

.recipient-container {
margin: 6%;
}

h6 {
  color: #D0CFC5;
  margin: 6% 0 0 0;
}

.weblink-container {
  /*background-color: #D0CFC5;*/
  /*background-color: #ecebe7;*/
  background-color: #f0f0ed;
  margin: 6% 0 0 0;
  overflow-wrap: break-word;
}

h2 {
  margin: 0 0 4% 0;
}

@media screen and (max-width: 760px) {
  .nav-items {
    display: none;
  } 

  .fa-bars {
  color: #306BA2;
  font-size: 30px;
  flex: 1;
  margin-left: 25px;
  }

}

@media screen and (min-width: 1450px) {
  .main-content {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  justify-content: space-around;
  width: 75%;
  margin: auto;
  }  

}